<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A度空间</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconfont.css">
    <link rel="stylesheet" href="/src/css/editormd.min.css" />
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/archives.css">
</head>

<body>
    <header class="header">
        <div class="nav-wrap">
            <ul class="nav-ul">
                <li class="up">
                    <a href="javascript:;" class="logo">A度空间</a>
                    <div class="nav-btn">
                        <a href="/index.html"><span>Home</span></a>
                        <a href="/api/get/articles"><span>Archives</span></a>
                        <a href="/about.html" class="active"><span>About</span></a>
                    </div>
                    <div class="search"><i class="iconfont icon-search"></i><input type="text" placeholder="Search"></div>
                </li>
                <li class="down level">
                    <a class="level-left"><span class="level-item logo">ABOUT</span></a>
                    <div class="down-btn level-right level-item">
                        <a href="javascript:;" class="icon nav-down-icon to-top"><i class="fa fa-arrow-up"></i></a>
                        <a href="javascript:;" class="icon nav-down-icon to-bottom"><i class="fa fa-arrow-down"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </header>
    <p class="placeholder"></p>
    <div class="container">
        <div class="tile is-ancestor">
            <article class="tile is-parent is-9">
                <div class="tile is-child content content-wrap">
                    <h2 class="title is-spaced">About</h2>
                    <h4 class="subtitle"><span class="j-date">2017年4月21日 PM4:03</span><span><span class="icon is-small"><i class="fa fa-user"></i></span>254</span><span><span class="icon is-small"><i class="fa fa-heart"></i></span>161</span>
                    </h4>
                    <p class="j-tags"><i class="tag is-info">bootstrap</i><i class="tag is-info">html</i><i class="tag is-info">css</i></p>
                    <div class="main-content">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus recusandae iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Totam doloribus, hic accusamus recusandae iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing
                        elit. Totam doloribus, hic accusamus recusandae iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Totam doloribus, hic accusamus recusandae iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam
                        doloribus, hic accusamus recusandae iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus,
                        hic accusamus recusandae iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus
                        recusandae iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus recusandae
                        iusto explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus recusandae iusto
                        explicabo! Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus recusandae iusto explicabo!
                        Suscipit numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus recusandae iusto explicabo! Suscipit
                        numquam ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus recusandae iusto explicabo! Suscipit numquam
                        ea quia ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Totam doloribus, hic accusamus recusandae iusto explicabo! Suscipit numquam ea quia
                        ab, obcaecati a tempora laboriosam voluptatem, quas amet officia nulla aliquid?
                    </div>
                </div>

            </article>
            <aside class="tile is-vertical is-parent">
                <div class="tile is-child">
                    <section class="card">
                        <div class="card-image image is-1by1">
                            <img src="/static/images/code.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <p class="title is-4"><span class="slash">#</span>agufei</p>
                        </div>
                        <div class="card-footer content">
                            <p>可以写点座右铭...</p>
                        </div>
                    </section>
                </div>

            </aside>
        </div>

    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>created by agufei</p>
            <p>
                <a href="javascript:;"><i class="iconfont icon-youxiang"></i></a>
                <a href="javascript:;"><i class="iconfont icon-tubiao21"></i></a>
                <a href="javascript:;"><i class="iconfont icon-qq"></i></a>
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="/static/js/script.js"></script>
    <script>
        // 滚动切换导航条
        $(document).scroll(function() {
            addWheel($(document)[0], function(down) {
                if (down) {
                    $('.nav-ul').css('top', -68 + 'px');
                } else {
                    $('.nav-ul').css('top', 0);
                }
            });
        });

        function addWheel(obj, fn) {
            if (window.navigator.userAgent.toLowerCase().indexOf('firefox') != -1) {
                obj.addEventListener('DOMMouseScroll', function(ev) {
                    if (ev.detail > 0) {
                        var down = true;
                    } else {
                        var down = false;
                    }
                    fn(down);
                }, false);
            } else {
                obj.onmousewheel = function(ev) {
                    var oEvent = ev || event;
                    if (oEvent.wheelDelta > 0) {
                        var down = false;
                    } else {
                        var down = true;
                    }
                    fn(down);
                };
            }
        }

        // 向上或向下滚动
        var count = 0;
        setInterval(function() {
            var des = $(document).scrollTop() + count;
            if (des <= 0) {
                des = 0;
                count = 0;
            } else if (des > $(document).height() - $(window).height()) {
                des = $(document).height() - $(window).height();
                count = 0;
            }
            $(document).scrollTop(des);
        }, 50);
        $('.to-top').click(function() {
            count = -100;
            $('.nav-ul').css('top', 0);
        });
        $('.to-bottom').click(function() {
            count = 100;
        });
    </script>
</body>

</html>