<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>A度空间</title>
    <!--<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">-->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.1/css/bulma.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/iconfont.css">
    <link rel="stylesheet" href="/src/css/editormd.min.css" />
    <link rel="stylesheet" href="/static/style/common.css">
    <link rel="stylesheet" href="/static/style/archives.css">
</head>

<body>
    <header class="header">
        <div class="nav-wrap">
            <ul class="nav-ul">
                <li class="up">
                    <a href="javascript:;" class="logo">A度空间</a>
                    <div class="nav-btn">
                        <a href="/index.html"><span>Home</span></a>
                        <a class="active" href="/archives.html"><span>Archives</span></a>
                        <a href="/about.html"><span>About</span></a>
                    </div>
                    <div class="search"><i class="iconfont icon-search"></i><input type="text" placeholder="Search"></div>
                </li>
                <!--<li class="down">
                    <span class="title"></span>
                    <div class="down-btn">
                        <a href="javascript:;"><i></i></a>
                        <a href="javascript:;" class="iconfont icon-xin"><i></i></a>
                    </div>
                </li>-->
            </ul>
        </div>
    </header>
    <p class="placeholder"></p>
    <div class="container">
        <div class="tile is-ancestor">
            <article class="tile is-vertical is-9">
                <div class="tile">
                    <div class="tile is-vertical is-parent is-4 manage-aside">
                        <div class="tile is-child">
                            <div class="panel">
                                <div class="panel-heading">文章分类</div>
                                <div class="panel-block search-div">
                                    <p class="control has-icons-left">
                                        <input class="input is-small search-ipt" type="text" placeholder="Search">
                                        <span class="icon is-small is-left">
                                            <i class="fa fa-search"></i>
                                        </span>
                                    </p>
                                </div>
                                <div class="panel-tabs is-large">
                                    <a class="article-filter is-active">标签</a>
                                    <a class="article-filter">日期</a>
                                    <a class="article-filter">访问量</a>
                                    <a class="article-filter">点赞数</a>
                                </div>
                                <ul class="tags-list">
                                    <li class="panel-block active"><a>所有</a></li>
                                    <li class="panel-block"><a>panel-2</a></li>
                                    <li class="panel-block"><a>panel-3</a></li>

                                </ul>
                                <ul class="tags-list">
                                    <li class="panel-block active"><a>所有</a></li>
                                    <li class="panel-block"><a>panel-5</a></li>

                                </ul>
                                <ul class="tags-list">
                                    <li class="panel-block active"><a>所有</a></li>
                                    <li class="panel-block"><a>panel-7</a></li>
                                    <li class="panel-block"><a>panel-8</a></li>

                                </ul>
                                <ul class="tags-list">
                                    <li class="panel-block active"><a>所有</a></li>
                                    <li class="panel-block"><a>panel-10</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tile is-vertical">
                        <div class="tile is-parent is-vertical">
                            <div class="tile is-child box-wrap">
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <a class="article-title" href="javascript:;">
                                                        <strong>文章标题1</strong> <small>2017年4月21日 PM4:03</small> <small><span class="icon is-small"><i class="fa fa-user"></i></span>254</small><small><span class="icon is-small"><i class="fa fa-heart"></i></span>161</small>
                                                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <a class="article-title" href="javascript:;">
                                                        <strong>文章标题1</strong> <small>2017年4月21日 PM4:03</small> <small><span class="icon is-small"><i class="fa fa-user"></i></span>254</small><small><span class="icon is-small"><i class="fa fa-heart"></i></span>161</small>
                                                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <a class="article-title" href="javascript:;">
                                                        <strong>文章标题2</strong> <small>2017年4月21日 PM4:03</small> <small><span class="icon is-small"><i class="fa fa-user"></i></span>254</small><small><span class="icon is-small"><i class="fa fa-heart"></i></span>161</small>
                                                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <div class="box">
                                    <article class="media">
                                        <div class="media-left">
                                            <figure class="image is-64x64">
                                                <img src="http://bulma.io/images/placeholders/128x128.png" alt="Image">
                                            </figure>
                                        </div>
                                        <div class="media-content">
                                            <div class="content">
                                                <p>
                                                    <a class="article-title" href="javascript:;">
                                                        <strong>文章标题3</strong> <small>2017年4月21日 PM4:03</small> <small><span class="icon is-small"><i class="fa fa-user"></i></span>254</small><small><span class="icon is-small"><i class="fa fa-heart"></i></span>161</small>
                                                        <br> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean efficitur sit amet massa fringilla egestas. Nullam condimentum luctus turpis.
                                                    </a>
                                                </p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                                <nav class="pagination is-small is-centered">
                                    <a class="pagination-previous">上一页</a>
                                    <a class="pagination-next">下一页</a>
                                    <ul class="pagination-list">
                                        <li><a class="pagination-link">1</a></li>
                                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                                        <li><a class="pagination-link">45</a></li>
                                        <li><a class="pagination-link is-current">46</a></li>
                                        <li><a class="pagination-link">47</a></li>
                                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                                        <li><a class="pagination-link">86</a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </article>
            <aside class="tile is-vertical is-parent">
                <div class="tile is-child">
                    <section class="card">
                        <div class="card-image image is-1by1">
                            <img src="static/images/code.jpg" alt="">
                        </div>
                        <div class="card-content">
                            <p class="title is-4"><span class="slash">#</span>agufei</p>
                        </div>
                        <div class="card-footer content">
                            <p>可以写点座右铭...</p>
                        </div>
                    </section>
                </div>

            </aside>
        </div>

    </div>
    <footer class="footer">
        <div class="content has-text-centered">
            <p>created by agufei</p>
            <p>
                <a href="javascript:;"><i class="iconfont icon-youxiang"></i></a>
                <a href="javascript:;"><i class="iconfont icon-tubiao21"></i></a>
                <a href="javascript:;"><i class="iconfont icon-qq"></i></a>
            </p>
        </div>
    </footer>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <!--<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>-->
    <script src="static/js/script.js"></script>
</body>

</html>